<%= provide(:title, "About") %>
<!DOCTYPE html>
<html>
	<head>
		
	</head>

	<body>
		<h1>About me </h1>
		<h3>Just a boy acting like an adult</h3>
		<p><a href = "http://waynesie.com">My Website</p>
	</body>
</html>
